<!DOCTYPE html>
#{extends 'main.html' /}
#{set title:'asdfghj' /}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TONOFSONGZ</title>
</head>
<body>
<h1>Benvinguts a TONOFSONGZ</h1>
<hr/>
<h2>La pàgina dels amants de la música, on trobaràs els continguts que més t'agraden</h2>
<br><br><br><br>


<h2>Clica aquest botó si vols afegir un cantant a la nostra base de dades</h2>
</body>
</html>
<form action="@{Application.login()}" method="GET">
    <input type="submit" value="log in" />
</form>

<!--#{welcome /}--->
